body {
    background-color: #FFFFFF;
    color: #000000;
    /* border: rgb(4, 20, 98); */
    font-family: fantasy; 
    border: 3px solid black;
}

body.dark-mode {
    background-color: #1b0501;
    color: #FFFFFF;
    border: 3px solid darkgrey;
}
