.results-header {
    text-align: center;
}
.results-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    border: 2px solid rgb(255, 139, 129);
    overflow: hidden;
    flex-wrap: wrap;
}