.results-container {
    display: flex;
    flex-direction: column;
    /* border: 5px solid rgb(207, 174, 174); */
    width: 90%;
    margin: auto;
    height: 65vh;
}
.results-header {
    text-align: center;
}
.results-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    border: 2px solid rgb(255, 139, 129);
    flex-wrap: wrap;
}