.filter-container {
    display: flex;
    border: 5px solid rgb(133, 60, 60);
    width: 90%;
    margin: auto;
    height: 15vh;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
}
.search-box-container {
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(211, 161, 161); */
    border-radius: 15px;
    height: 60%;
    width: 15%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 80px;
}

.input {
    margin-top: -10px;
    border: 2px solid rgb(99, 79, 5);
    border-radius: 5px;
    height: 30px;
    font-family: monospace;
    background-color: whitesmoke;
}
.input:hover {
    border: 2px solid green;
}

.input::placeholder {
    color: white(139, 18, 18);
}

body.dark-mode .input {
    background-color: rgba(1, 1, 1, 0.614);
    color: white;
}
body.dark-mode .input::placeholder {
    color: rgb(174, 173, 173);
}

.filter-button {
    box-sizing: border-box;
    border: 3px solid darkgrey;
    align-self: flex-end;
    color: rgb(19, 129, 0);
    border-radius: 15px;
    font-size: medium;
    height: 30px;
    width: 125px;
    font-family: fantasy;
    font-weight: 600;
}
.filter-button:hover {
    background-color: rgb(19, 129, 0);
    color: white;
    cursor: pointer;
    /* scale: (1.1); */
}
body.dark-mode .filter-button {
    background-color: rgba(1, 1, 1, 0.614);
    color: white;
}
body.dark-mode .filter-button:hover {
    background-color: rgb(19, 129, 0);
    color: white;
}